#app .main {
  font: 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 10px auto;
  margin-left: 200px;
}

a.active {
  color: orange;
}

.leftmenu nav {
  height: 100%; /* 100% Full-height */
  width: 180px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #eee; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.leftmenu  * {
    padding: 10px 8px 8px 15px;
    text-decoration: none;
    font-size: 1.2em;
    color: #4d4d4d;
    display: block;
    transition: 0.3s;
}

form label {
  margin: 8px;
}
form input {
  margin-right: 8px;
}
form button {
  margin-left: 8px;
}

.table-employee {
  margin: 30px auto;
}

#app h1 {
  margin-bottom: 20px;
}
